.main-container {
    position: relative;
    width: 30%;
    padding-top: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.button-stand-about {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-22%, -26%);
    width: 100%;
    z-index: 2;
    scale: 220%;
}

.button-cancel {
    background-image: url('../asset/cancel-big.svg');
    position: absolute;
    top: 20px;
    right: 20px;
    width: 84px;
    height: 84px;
    scale: 80%;
    z-index: 20;
    /* cursor: pointer; */
}

.button-cancel:hover {
    background-image: url('../asset/cancel-big-hover.svg');
    position: absolute;
    top: 20px;
    right: 20px;
    width: 84px;
    height: 84px;
    scale: 80%;
    z-index: 20;
    cursor: pointer;
}

.about-title {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -80%);
    white-space: nowrap;
    color: #FFF;
    text-align: center;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Jolly Lodger";
    font-size: 82px;
    font-weight: 250;
    z-index: 10;
}

.about-caption {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-48%, 50%);
    white-space: nowrap;
    color: #FFF;
    text-align: center;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Nunito";
    font-size: clamp(16px, 1vw, 32px);
    font-weight: 500;
    overflow-wrap: break-word;
    z-index: 10;
}

@media (max-width: 1200px) {
    .button-stand-about {
        top: 44%;
    }

    .about-title {
        font-size: clamp(58px, 6vw, 82px);
        top: 25%;
    }

    .about-caption {
        font-size: clamp(13px, 1vw, 22px);
        top: 25%;
    }
}

@media (max-width: 1024px) {
    .button-stand-about {
        top: 40%;
    }

    .about-title {
        font-size: clamp(52px, 6vw, 90px);
        top: 22%;
    }

    .about-caption {
        font-size: clamp(12px, 1vw, 18px);
        top: 20%;
    }
}

@media (max-width: 992px) {
    .button-stand-about {
        top: 33%;
    }

    .about-title {
        font-size: clamp(38px, 6vw, 72px);
        top: 15%;
    }

    .about-caption {
        font-size: clamp(10px, 1vw, 16px);
        top: 15%;
    }
}

@media (max-width: 768px) {
    .button-stand-about {
        top: 28%;
    }

    .about-title {
        font-size: clamp(24px, 6vw, 42px);
        top: 10%;
    }

    .about-caption {
        font-size: clamp(6px, 1vw, 12px);
        top: 10%;
    }
}