@import 'tailwindcss';

:root {
    --font-sans: 'Jolly Lodger';
}

.centered-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-decoration: none;
}

.logo-link img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.text-overlay {
    color: #FFF;
    text-align: center;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Jolly Lodger";
    font-size: 72px;
    font-style: normal;
    font-weight: 250;
    z-index: 10;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
    width: 100%;
}

.start-button{
    position: relative;
    margin-right: 80px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    transition: none;
}

.start-button:hover {
    transform: none;
}

.start-button:hover .text-overlay {
    color: #B8AF9C;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4)
}

.island {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 0; 
}

.main-container {
    position: relative;
    width: 30%;
    padding-top: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6; /* di atas island */
}

.button-stand {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
}

.button {
    position: absolute;
    width: 35%;
    height: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.1s ease-in-out;
    z-index: 5;
}

.about-button {
    background-image: url('../asset/about.svg');
    /* width: 100%;
    height: 100%; */
    scale: 215%;
    top: 21.5%;
    left: 31.5%;
    /* clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%); */
    /* border: 2px solid red; */
}

.about-button:hover {
    background-image: url('../asset/about-hover.svg');
    scale: 215%;
    top: 21.5%;
    left: 31.5%;
}

.login-button {
    background-image: url('../asset/login.svg');
    scale: 279%;
    top: 40%;
    left: 32%;
    /* z-index: 10;
    border: 2px solid blue; */
}

.login-button:hover {
    background-image: url('../asset/login-hover.svg');   
    scale: 279%;
    top: 40%;
    left: 32%;
}