.stage1 {
    position: absolute;
    bottom: 130px;
    left: 60px;
}

.stage2 {
    position: absolute;
    bottom: 210px;
    left: 440px;
}

.stage3 {
    position: absolute;
    top: 540px;
    right: 590px;
}

.stage4 {
    position: absolute;
    bottom: -160px;
    right: 400px;
}

.stage5 {
    position: absolute;
    bottom: -175px;
    right: 40px;
}

@media (max-width: 1200px) {
    body{
        background: url('asset/map-autumn/bckg-autumn.svg') no-repeat top left;
        background-size: 100% auto;
        background-attachment: scroll;
        height: 120vh;
        display: flex;
    }
}

@media (max-width: 1024px) {
    body{
        background: url('asset/map-autumn/bckg-autumn.svg') no-repeat top left;
        background-size: 100%;
        background-attachment: scroll;
        height: 180vh;
        display: flex;
    }
}

@media (max-width: 992px){
    body{
        background: url('asset/map-autumn/bckg-autumn.svg') no-repeat top left;
        background-size: 100% auto;
        background-attachment: scroll;
        height: 120vh;
        display: flex;
    }
}

@media (max-width: 900px) {
    body{
        background: url('asset/map-autumn/bckg-autumn.svg') no-repeat top left;
        background-size: 100% auto;
        background-attachment: scroll;
        height: 100vh;
        display: flex;
    }
}

@media (max-width: 768px) {
    body{
        background: url('asset/map-autumn/bckg-autumn.svg') no-repeat top left;
        background-size: 100% auto;
        height: 100px;
        display: flex;
    }
}