.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* vertikal tengah jika tinggi cukup */
    position: relative;
}

.button-stand-login {
    scale: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
}

.button-cancel {
    background-image: url('../asset/cancel-small.svg');
    position: absolute;
    top: 60px;      
    right: 200px;    
    width: 65px;    
    height: 64px;
    scale: 80%;
    z-index: 20;    
    /* cursor: pointer; */
}

.button-cancel:hover {
    background-image: url('../asset/cancel-small-hover.svg');
    position: absolute;
     top: 60px;      
    right: 200px;    
    width: 65px;    
    height: 64px;
    scale: 80%;
    z-index: 20;    
    cursor: pointer;
}

.login-title {
    color: #FFF;
    text-align: center;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Jolly Lodger";
    font-size: 90px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    margin-top: -600px; 
    margin-bottom: -20px;
    width: 100%;
    z-index: 10;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    z-index: 10;
    /* gap: 10px; */
    
}

.login-input {
    background: transparent;
    color: rgba(84, 79, 76, 0.75);
    position: relative;
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #61493D;
    border-radius: 5px;
    font-size: 15px;
    z-index: 10;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    /* gap: 1px; */
}

.login-input:first-child {
    margin-bottom: 5px; /* jarak bawah username */
}

.login-input[type="password"] {
    margin-bottom: 5px; /* jarak bawah password */
}

.login-input:focus {
    outline: none;
    border: 2px solid #61493D;
    /* border-color: #A67C52;
    box-shadow: 0 0 5px rgba(166, 124, 82, 0.5); */
}

.error-message {
    color: #e74c3c; /* Warna merah yang lebih standar */
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 900;
    width: 250px; /* Lebar sama dengan input */
    margin-top: -5px; /* Sedikit naik agar dekat dengan password */
    margin-bottom: 10px; /* Jarak dengan tombol Login */
    z-index: 10;
}

.login-button {
    background-color: #61493D;
    color: #FFF;
    border: none;
    width: 100px;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-style: bold;
    font-weight: 900;
    transition: background-color 0.3s ease;
    z-index: 10;
    margin-top: 15px;
}

.signup-link {
    color: #61493D;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    margin-top: 15px;
    z-index: 10;
}

.signup-link a {
    color: #A67C52;
    text-decoration: underline;
    margin-left: 5px;
    font-weight: bold;
    transition: color 0.2s;
}