.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px 0;
    padding: 0 30px;
    z-index: 1000;
}

.navbarback{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar-left img {
    width: 50px;
}

.navbar-center{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.navbar-right img {
    width: 50px;
    cursor: pointer;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Jolly Lodger";
    font-size: 72px;
    font-weight: 250;
    margin: 0;
    pointer-events: none;
}

.button-back {
    width: 65px;    
    height: 64px;
    scale: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.question-container {
    max-width: 1000px;          
    width: 80%;                
    margin: 0 auto;        
    text-align: center;
    margin-top: 100px;
    padding: 40px 100px;      
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.question-img {
    max-width: 100%;
    height: auto; 
}

.answer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    justify-items: center; 
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.answer-row {
    gap: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.answer-btn {
    flex: 1 1 40%;           
    border: 3px solid transparent;
    border-radius: 15px;
    transition: transform 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    box-sizing: border-box;
    background-color: transparent;
    padding: 5px;
    width: auto;
}

.answer-btn:hover {
    transform: scale(1.05);
    background-color: #ffd0b5;  
    border-color: #ffa87a;    
}

.answer-btn img {
    display: block;
    border-radius: 10px;
}



